#Middle {
    text-align: center;
    font-family: monospace;
}

#top {
    text-align: center;
    font-family: fantasy;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}

p {
    font-family: inherit;
}
